@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'),
    url('public/fonts/PlayfairDisplay-Regular.woff2') format('woff2'); /* IE9 Compat Modes */
  font-weight: 900;
  font-display: swap;
}

:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 80px;
  --color-dark: #4b5563;
  --color-white: #ffffff;
  --color-teal: #e7f9fa;
  --color-pink: #ffe8e6;
  font-family: 'Playfair Display';
  font-size: 14px;
  /* letter-spacing: 2px; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-white);
}
img {
  border-radius: 4px;
}

.social-img {
  filter: invert(34%) sepia(6%) saturate(1503%) hue-rotate(176deg);
}
@media screen and (max-width: 768px) {
  :root {
    --aside-width: 100vw;
  }
}
/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-pink);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
  z-index: 100;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  margin: 0 20px;
  z-index: 100;
}

aside header h3 {
  margin: 0;
  color: var(--color-dark);
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
  &:hover {
    opacity: 1;
  }
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
  &:last-child {
    margin: 0;
  }
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 100;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay {
  &:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  /* reveal aside */
  &:target aside {
    transform: translateX(calc(var(--aside-width) * -1));
  }
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------

*/

.header {
  align-items: center;
  justify-content: space-between;
  background: rgba(54, 25, 25, 0.00004);
  display: flex;
  height: var(--header-height);
  padding: 0 1rem;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  color: #fff;
  font-family: 'Playfair Display';
  transition: background-color 0.4s ease-out, color 0.4s ease-out,
    border-bottom 0.4s ease-out;
  border-bottom: 0.5px solid white;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}

.header-menu-item {
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: color 0.8s ease-out;
}
.submenu-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  top: 38px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: var(--color-pink);
  cursor: default;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

/* Changes to header in desktop*/

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 48em) {
    display: flex;
    grid-gap: 1rem;
    margin: 0 3rem;
    justify-content: center;
  }
}

.header-menu-desktop .sub-toggler {
  display: flex;
  justify-content: center;
}
.header-menu-desktop .submenu-wrapper {
  top: 24px;
  gap: 0px;
  padding: 10px;
  width: 140px;
}
.header-menu-desktop .submenu-wrapper .submenu-item {
  padding-top: 5px;
  padding-left: 0px;
  margin-left: 8px;
}

.header-menu-desktop .submenu-wrapper .submenu-item {
  cursor: pointer;
}

.header-menu-desktop .header-menu-item:hover {
  text-decoration: underline;
}

.header-menu-desktop .header-menu-item .submenu-wrapper h3:hover {
  background-color: #fff3f2;
}

/* Hover effetct showing submenus while in desktop */
.header-menu-desktop .sub-toggler:hover .submenu-wrapper {
  visibility: visible;
  opacity: 1;
}
.submenu-wrapper:hover .submenu-wrapper {
  visibility: visible;
  opacity: 1;
}

/* Shown class applied when submenu is clicked in mobile version. */
.shown {
  visibility: visible;
  opacity: 1;
}

/* CLasses applied to header conditionally. */
.header:hover {
  background-color: var(--color-pink);
  color: #4b5563;
  /* border-bottom: 0.5px solid #796f6e; */
  border-bottom: 0.5px solid var(--pink);
}

.header:hover .header-menu-desktop .header-menu-item {
  color: #4b5563;
}

.header:hover .header-ctas .cartSvg {
  fill: #4b5563 !important;
}

.white-header {
  background: var(--color-pink);
  color: #4b5563;
  /* border-bottom: 0.5px solid #796f6e; */
  border-bottom: 0.5px solid var(--pink);
}
.white-header .header-menu-desktop .header-menu-item {
  color: #4b5563;
  background-color: var(pink);
}

.header-menu-mobile-toggle {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
/*Header-mobile*/
.header-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 5px;
}

.header-menu-mobile .submenu-wrapper {
  background-color: var(--pink);
}
.header-menu-mobile .submenu-wrapper h3 {
  padding-left: 22px;
}

.header-menu-mobile .header-menu-item {
  color: var(--color-dark);
  font-size: 16px;
  letter-spacing: 2px;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  margin-top: auto;
  /* background-image: url('../../public/images/footerResized.jpg'); */
  background-color: var(--color-pink);
  color: var(--color-dark);

  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50%; */
  /* filter: brightness(106%); */
  z-index: 1;
  @media (max-width: 768px) {
    /* background-position: right 15%; */
  }
}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  justify-content: center;
  grid-gap: 1rem;
  padding: 3rem;
  font-size: 14px;
  letter-spacing: 2px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: var(--color-dark);
}
.footer .footer-menu a {
  color: var(--color-dark) !important;
}
.footer a:hover {
  text-decoration: underline;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: var(--color-pink);
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantiy {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.img-zoom {
  transition: transform 0.5s ease-in-out;
}

.relative:hover .img-zoom {
  transform: scale(1.05);
}

.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}

.image-size {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/*Note overlay*/

/* .noteOutside{
  left: 2500;
}

.noteOnScreen{
  left: -
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1.5s ease-in;
}

/* Wide Grid Image in index.jsx  */
.wideImage {
  width: 350px;
  height: 400px;
}

@media (min-width: 768px) {
  .wideImage {
    height: 450px;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .wideImage {
    height: 550px;
    width: 100%;
  }
}
