@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display'),
      url('public/fonts/PlayfairDisplay-Regular.woff2'); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Playfair Display SemiBold';
    src: local('Playfair Display'),
      url('public/fonts/PlayfairDisplay-SemiBold.woff2'); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Playfair Display Medium';
    src: local('Playfair Display'),
      url('public/fonts/PlayfairDisplay-Medium.woff2'); /* IE9 Compat Modes */
  }
  @font-face {
    font-family: 'Playpen Sans';
    src: url('public/fonts/CormorantGaramond-Regular.woff2');
  }
}
